# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven specific files
target/

# IntelliJ specific files
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse specific files
.classpath
.project
.settings/

# Gradle specific files
.gradle/
build/

# Logs
log/
*.log

# OS-specific files
.DS_Store
Thumbs.db
